<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-1">
        <ul class="list-inline social">
          <li class="info">Connect with us</li>
          <li><a href="https://twitter.com/hostwriter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/hostwriter.org"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3 text-right">
        <p class="info">© 2020 by hostwriter</p>
      </div>
    </div>
  </div>
</footer>
<script>
function openNav() {
  document.getElementById("mySidenav").style.display = "block";
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.display = "none";
  document.getElementById("mySidenav").style.width = "0";
}
</script>
