<header class="header">
  <div class="row header-info">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <div class="center">
        <h1>Agora Global</h1>
        <p class="lead">This project brings cross-border theory into practice by training regional journalists and supporting them to create stories that matter.</p>
      </div>
    </div>
  </div>
  <div class="container navigation">
    <nav class="">
      <span class="mobile-toggle" onclick="openNav()">☰</span>
      <a class="hostwriter-logo" href="https://hostwriter.org"><img src="{{ site.baseurl }}/img/icons/hostwriter-white.png"></a>
      <div id="mySidenav" class="nav navbar-nav navbar-light navbar-right bg-faded list-inline">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/"><img class="agora-mobile" src="{{ site.baseurl }}/img/icons/agora-logo-small-white.svg" style="margin-right: 10px;" width="25px" height="25px">Home</a>
        <a href="{{ site.baseurl }}/Agora2017">Agora 2017</a>
        <a href="{{ site.baseurl }}/Agora2017/Dossier">Agora 2017 Dossier</a>
        <a href="{{ site.baseurl }}/AgoraEuropeGrants2020">Agora Europe 2020</a>
      </div>
    </nav>
  </div>
</header>
