/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: #fe5621;
    text-decoration: none;

    &:visited {
        color: darken(#fe5621, 15%);
    }

    &:hover {
        color: darken(#fe5621, 25%);
        text-decoration: underline;
    }
}

.caption p {
    padding-top: 10px;
    color: #777;
    font-style: italic;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Flags
 */
.flag-icon.flag-icon-squared {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/* ==========================================================================
   Global styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, number, .form-control, .list-inline, .price, .quote, small, .info-intro, #pricing {
    font-family: 'Eczar', sans-serif;
}

p, li, figcaption, .btn, .lead, .intro, .features.last, .lead-prize, .navbar-nav, .navbar-nav a, .navbar-nav-open, .navbar-project, .navbar-project-open, .navbar-project-closed, .panel-body, .panel-title, .price small, .features, .name, .info, .list-inline-social {
    font-family: 'Karla', monospace;
}

figcaption {
  color: #888;
}

.lead-prize, .quote{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-weight: 100;
    color: #262626;
}

.intro{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #929496;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0 20px;
}
.intro.black {
    color: #000000;
}
.funding {
    margin-top: -20px;
}

h1 {
    font-size: 58px;
    line-height: 68px;
    color: #00FFB9;
    body.default & {
        color: #ffffff;
    }
    .center & {
      @media (max-width: 767px) {
        font-size: 48px;
        line-height: 58px;
      }
    }
    font-weight: 700;
}

h2 {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: #00FFB9;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 24px;
}

h3 {
    font-family: 'Karla', monospace;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0;
    color: #00FFB9;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    .post-list & {
        font-family: 'Eczar', sans-serif;
    }
  .about & {
    font-size: 26px;
  }
}

h4, .panel-title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #262626;
}

.lead {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 100;
    margin-top: 40px;
  .center & {
    max-width: 900px;
    margin: 0 auto;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
      padding: 0 20px;
    }
  }
}

p {
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    font-weight: 100;
}

q.pull-quote, blockquote {

    font-style: italic;
    letter-spacing: 0.1rem;
    margin-left: 10px;
    padding: 20px 10px;
    > p {
        font-size: 20px;
        line-height: 30px;
        font-family: 'Eczar', sans-serif;
    }
}

hr {
  border: 1px dashed #262626;
  margin: 0 auto;
  max-width: 100px;
}

number {
    font-size: 98px;
    letter-spacing: 0px;
    color: #00FFB9;
    font-weight: 100;
}

label {
    display: inline;
    color: #929496;
    font-size: 16px;
    font-weight: 100 !important;
    text-align: left;
    font-family: 'Karla', monospace;
    padding-bottom: 20px;
}
form > label {
    width: 100%;
}
.form-check-inline {
    padding-top: 20px;
    text-align: center;
}
.form-check-inline > label {
    padding-right: 20px;
}

ul.supporter, ul.facilitators {
  list-style: none;
  margin-left: 0;
}

ul.facilitators {
  li {
    padding-bottom: 20px;
  }
}

/*------------------Utilities---------------------*/
a, a:visited {
    // color: inherit;
    // font-weight: inherit;
    // font-size: inherit;
    // text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    // color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -10%;
}

::selection {
    background: #00FFB9; /* Safari */
    color: #FFFFFF;
}
::-moz-selection {
    background: #00FFB9; /* Firefox */
    color: #FFFFFF;
}



/*------------------Buttons---------------------*/
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.btn {
    text-transform: uppercase;
    border: none;
}

.btn-lg {
    background-color: #00FFB9;
    color: #fff;
    font-size: 16px;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.btn-sm {
    font-size: 11px;
    line-height: 1.33;
    padding: 10px 18px;
    font-weight: 600;
}

.btn-wide {
    width: 100%;
    font-size: 16px;
    line-height: 1.33;
    padding: 18px 28px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.btn-primary {
    background-color:#fff;
    color: #00ffe3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active {
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-secondary {
    background-color: #ffffff;
    color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #ededed;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.panel-default{
    border: none;
}

.panel, .panel-heading, .panel-heading, .panel-collapse, .panel-group
{
    background-color: #fff;
    border: none;
    border-radius: 0px;
}

.panel-body {
    border: none;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.01em;
    font-weight: 100;
    color: #262626;
}



/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
    color: #231f20;
}

.blue {
    color: #00FFB9;
}

.white {
    color: #ffffff;
}

.black-bg {
    background: #231f20;
}

.blue-bg {
    background: #00FFB9;
}

.white-bg {
    background: #ffffff;
}

.purple-bg {
    background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    margin: auto;
    position: fixed;
    min-height: 82px;
    padding-top: 8px;
    top: -90px;
    transition: top 0.2s ease 0s;
}

.navbar.open {
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 30px 0 rgba(0, 0, 0, 0.1);
    color: #000 !important;

}

.navbar-nav {
    color: #ffffff;
    font-size: 16px;
}

.navbar-nav-open {
    color: #000;
}

.navbar-project {
    color: #fff;
    font-size: 16px;
    float: left !important;
}

.navbar-project-open {
    color: #000;
    font-size: 16px;
    float: left !important;
    padding: 20px;
}

.navbar-project-closed {
    color: #fff;
    font-size: 16px;
    float: left !important;
    padding: 8px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    opacity: 0.9;
    color: #000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 12px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding-top: 14px;
    padding-bottom: 8px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000 !important;
}

.navbar-toggle .icon-bar {
    width: 16px !important;
    background-color: #fff;
}

.logo img {
    margin-top: 0px;
}


/* ==========================================================================
   Main styles
   ========================================================================== */
body.default header {
    position: relative;
    background: url(../img/header-bg-neu.jpg) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 80vh;
    min-height: 500px;
    max-height: 800px;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body.post .header {
  background: #00FFB9;
  max-height: 44px
}

.header-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  > div {
    height: 100%;
    display: table;
  }
  .center {
    display: table-cell;
    vertical-align: middle;
  }
}

.signin {
    padding-top: 9px;
}

.pad-xl {
    padding: 20px 0px;
}

.pad-lg {
    padding: 20px 0px;
}

.pad-sm {
    padding: 20px 0px;
}

.pad-xs {
    padding: 10px 0px;
}

#submit {
    background: #f2f2f2;
    margin-bottom: 80px;
}

img.logo {
    padding-bottom: 4px;
    padding-right: 6px;
}

hr.line {
    width: 100%;
    border: 2px solid;
}

.purple {
    border-color: #6d3f96;
    color: #6d3f96;
}

.blue {
    border-color: #00FFB9;
    color: #00FFB9;
}

.yellow {
    border-color: #fdc05d;
    color: #fdc05d;
}

.iphone {
    position: relative;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    max-width: 440px;
}

.fa-check-circle {
    color: #00FFB9;
    font-size: 98px;
    display: block;
    padding-top: 10px;
    margin: auto;
}

.fa-check{
    color: #00FFB9;
    font-size: 22px;
    padding-right: 10px;
}

.fa-twitter{
    color: #00FFB9;
    font-size: 18px;
}

.fa-facebook{
    color: #00FFB9;
    font-size: 16px;
}


.news-container {
    padding: 10px 0px 20px;
    border-bottom: 1px solid #efefef;
}

.news-img {
    padding-right: 10px;
    padding-bottom: 74px;
}

footer {
    background: #ffffff;
    padding: 40px 0px;
}

.social li a:hover {
    opacity: 0.5;
}

.errorMessages {
    color: #00FFB9;
    text-align: left;
}

#faq {
    margin-top: 30px;
}


/*---------------Pricing Tables-------------------*/


#pricing {
    background: #00FFB9;
}

.pricing-container {
    padding-left: 0px;
    padding-right: 0px;
}

.pricing-table {
    background: transparent;
    margin-bottom: 50px;
    margin-top: 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.pricing-table.active {
    box-shadow: 0px 0px 12px rgba(41,46,50,0.6);
    position: absolute;
    margin: auto;
    z-index: 200;
}

.pricing-table:hover {
    margin-top: -10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.pricing-table li {
    padding-left: 20px;
    padding-right: 20px;
}

.headline {
    background: #262626;
    color: #FFFFFF;
    padding: 10px;
}

.price {
    background: none repeat scroll 0 0 #262626;
    color: #fff;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.pricing-table:hover li.price  {
    background: #00FFB9;
    -webkit-transition: all 0.85s ease-in-out;
    -moz-transition: all 0.85s ease-in-out;
    -o-transition: all 0.85s ease-in-out;
    transition: all 0.85s ease-in-out;
}

.price small {
    font-size: 16px;
    font-weight: 300;
    color: #929496;
}

.features {
    color: #929496;
    font-size: 16px;
    padding-top: 22px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8EAEA;
    background: #ffffff
}

.name, .info {
    color: #262626;
    font-size: 16px;
}

.features.first {
    border-top: 1px solid #E8EAEA;
}

.features.last {
    padding-top: 22px;
    padding-bottom: 24px;
    background-color: #00FFB9;
}

.features.last a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.features.price {
    padding-top: 22px;
    padding-bottom: 24px;
    background-color: #262626;
    border: none;
    color: #fff;
}

.pricing-container .btn a {
    border-radius: 0;
}


/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    color: #d9d9d9;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-family: 'Karla', monospace;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    font-weight: 100;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-group {
    color: #d2d2d2;
    text-align: left;
}

.test_email {
    display: none;
}



/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

    .btn-lg {
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }


    .btn-wide {
        width: 100%;
        background-color: #00FFB9;
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }

    #be-the-first {
        background-attachment: scroll;
    }

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

    #be-the-first {
        background-attachment: scroll;
    }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

    #be-the-first {
        background-attachment: scroll;
    }

}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}   




