/**
 * Mobile nav workaround
 */

/* Landscape phone to portrait tablet */
.container.navigation {
    position: relative;
    z-index: 2;
}
.mobile-toggle {
    display: block;
    float: right;
    font-size: 26px;
    color: #FFF;
    cursor: pointer;
}
.navigation .nav {
    display: none;
}
.closebtn {
    display: block;
}
#mySidenav a {
    padding: 0 20px 0 0;
    img {
      max-width: 30px;
    }
}


@media (min-width: 0) and (max-width: 11766px){
    .agora-mobile {
        display: inline-block;
    }
    .agora-desktop {
        display: none;
    }
    #mySidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 0;
        background-color: #333;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        a {
            padding: 8px 8px 15px 32px;
            text-decoration: none;
            font-size: 16px;
            color: #818181;
            display: block;
            transition: 0.3s;
            &:hover {
                color: #666;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 36px;
        }
    }
}

@media (min-width: 0px) {
    // .post #mySidenav { 
    //     padding-top: 7px;
    // }
    // .agora-mobile {
    //     display: none;
    // }
    // .agora-desktop {
    //     display: inline-block;
    // }
    // .mobile-toggle {
    //     display: none;
    // }
    // .navigation .nav {
    //     display: block;
    // }
    // .closebtn {
    //     display: none;
    // }
    
}


.hostwriter-logo {
    float: left;
    img {
        width: 120px;
        height: auto;
    }
}



/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #f2f2f2;
    color: #262626;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.no-gutter > [class*='col-'] {
    padding-right:3px;
    padding-left:3px;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    body.post & {
        padding: 40px 0;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    > li {
        margin-bottom: $spacing-unit;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-transform: uppercase;
}


.post-content h2.article-intro {
    font-family: 'Karla', monospace;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    font-weight: 100;
    color: #262626;
    margin-top: 0;
    margin-bottom: 80px;
}

.post-link {
    display: block;
    font-size: 18px;
    padding: 20px;
    height: 100%;
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    &:hover {
        background: #00FFB9;
        h3, div {
            color: #FFF;
        }
        
    }
}

.post-teaser {
    color: #262626;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-info {
    padding: 20px;
}

.post-title {
    line-height: 1.1;

    @include media-query($on-laptop) {
        /*font-size: 36px;*/
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

img.avatar {
    border-radius: 100%;
    float: right;
    max-width: 145px;
    height: auto;
    &.small {
        max-width: 100px;
    }
    .post-info & {
        float: none;
    }
}

.author-info {
    a.twitter {
        display: block;
        padding-top: 20px;
        i {
            font-size: 22px;
        }
    }
    a.hostwriter,
    a.hostwriter:visited {
        color: #00FFB9;
        font-weight: bold;
    }
    .name {
        font-size: 26px;
    }
    .author-summary {
        padding: 20px 0;
    }
}

.collaboration-info {
    padding-top: 30px;
    p {
        font-weight: bold;
    }
    q {
        font-family: 'Karla', monospace;
        padding: 20px 0 30px 0;
        margin: 20px 0 0 0;
        display: block;
        border-top: 1px solid #EFEFEF;
        color: #ccc;
    }
}

.media-list {
    margin: 0;
    a {
        border-left: none;
        border-right: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 15px;
    }
    span {
        margin-right: 10px;
    }
    .nav-item {
        float: right;
        line-height: 26px;
        color: #CCC;
    }
    .list-group-item {
        border-radius: 0;
        background-color: #fdfdfd;
        font-family: 'Karla', monospace;
    }
}
