<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="default">

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
