<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="post">
    <header class="header" style="min-height: 60px; background: #00FFB9">
      <div class="container navigation" style="padding-top:10px;">
        <nav class="">
          <span class="mobile-toggle" onclick="openNav()">☰</span>
          <a class="hostwriter-logo" href="https://hostwriter.org"><img src="{{ site.baseurl }}/img/icons/hostwriter-white.png"></a>
          <div id="mySidenav" class="nav navbar-nav navbar-light navbar-right bg-faded list-inline">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/"><img class="agora-mobile" src="{{ site.baseurl }}/img/icons/agora-logo-small-white.svg" style="margin-right: 10px;" width="25px" height="25px">Home</a>
            <a href="{{ site.baseurl }}/Agora2017">Agora 2017</a>
            <a href="{{ site.baseurl }}/Agora2017/Dossier">Agora 2017 Dossier</a>
            <a href="{{ site.baseurl }}/AgoraEuropeGrants2020">Agora Europe 2020</a>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
