---
layout: minimal
---
<div class="row post">
  
  <div class="col-lg-8">
    <header class="post-header">
      <p class="post-meta">{{ page.author }}</p>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
  
    <article class="post-content">
      {{ content }}
    </article>
  </div>

  <div class="col-lg-4">
    <aside class="post-info">
      <div class="author-info text-center">
        <img class="avatar" src="/img/userimg/{{ page.authorimg }}" alt="{{ page.author }}">
        <a class="twitter" target="_blank" href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
        <div class="name">{{ page.author }}</div>
        <a class="hostwriter" href="https://hostwriter.org/user/{{ page.hostwriter }}" target="_blank">Hostwriter Profile</a>
        <p class="author-summary">
          {{ page.summary }}
        </p>
      </div>
      <div class="collaboration-info text-center">
        <p>Collaboration benefit</p>
        <q>{{ page.collaboration }}</q>
      </div>
      
      {% if page.links %}
      
      <div class="media-list list-group">
        {% for item in page.links %}
        <a class="list-group-item" href="{{ item.url }}" target="_blank">
          <span class="flag-icon flag-icon-{{ item.flag }} flag-icon-squared"></span>
          {{ item.title }}
          <i class="nav-item fa fa-angle-right"></i>
        </a>
        {% endfor %}
      </div>
      
      {% endif %}
    </aside>
  </div>
</div>
<div class="row text-center lead-prize" style="color: #00FFB9">
  <br />
  <div class="col-lg-8">
    <a href="{{ site.baseurl }}/Agora2017/Dossier/"><i class="fa fa-arrow-left"></i>  Back to overview</a>
  </div>
</div>
